name: "Pull"

on:
  pull_request_target:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  labeler:
    name: "Labeler"
    uses: cssnr/workflows/.github/workflows/labeler.yaml@actions
    permissions:
      issues: write
      pull-requests: write

  actions-up:
    name: "Actions Up"
    uses: cssnr/workflows/.github/workflows/actions-up.yaml@actions
    permissions:
      pull-requests: write

  npm-outdated:
    name: "NPM Outdated"
    uses: cssnr/workflows/.github/workflows/npm-outdated.yaml@actions
    permissions:
      pull-requests: write
