name: "Pull"

on:
  pull_request_target:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pull:
    name: "Pull"
    uses: cssnr/workflows/.github/workflows/pull.yaml@actions
    permissions:
      checks: write
      issues: write
      pull-requests: write

  labeler:
    name: "Labeler"
    uses: cssnr/workflows/.github/workflows/labeler.yaml@actions
    permissions:
      issues: write
      pull-requests: write
